<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="selenium grid execution on docker">
    <parameter name="browser" value="chrome"/>
    <test name = "Demo site test" verbose="2" parallel="methods" thread-count="3">
       <classes>
           <class name="RegisterTest"/>
       </classes>
    </test>
</suite> <!-- Suite -->